<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body th:replace="layout :: body(section_heading='Study')">
	<section layout:fragment="content" class="content">
		<div class="row">
			<div class="col-md-12">
				<!-- general form elements -->
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">
							<!-- Register for Study : ID - <span th:text="*{pkey}"></span> -->
						</h3>
					</div>

					<!-- form start -->
					<form action="#" th:action="@{/admin/study/register}"
						th:object="${volunteerTO}" method="post">
						<input type="hidden" name="pkey" th:value="${pkey}" />
						<div class="box-body">
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<label>Volunteer Name</label> <strong><p
											th:text="*{name}" style="color: blue;" /></strong>
									<p class="help-block"></p>
								</div>
								<div class="col-md-4 col-xs-4">
									<label>Date of Birth</label>
									<p th:text="${#dates.format(volunteerTO.dob, 'dd-MMM-yyyy')}" />
								</div>

								<div class="col-md-4 col-xs-4">
									<label>Gender</label>
									<p th:text="*{gender}" />
								</div>
								<div class="col-md-4 col-xs-4">
									<label>Mobile</label>
									<p th:text="*{mobileNo}" />
								</div>
								<div class="col-md-4 col-xs-4">
									<label>Address</label>
									<p th:text="*{address1}" />
									<p th:text="*{address2}" />
									<p th:text="*{area}" />
									<p th:text="*{city}" />
								</div>

							</div>
							<div class="row"></div>

							<div class="row">
								<p />
							</div>


							<div class="row">
								<p />
							</div>
							<div class="row">
								<p />
							</div>
							<div class="row">
								<p />
							</div>
							<!-- start -->
							<div th:object="${volunteerStudyMapTO}">
								<input type="hidden" name="volunteerPkey" id="volunteerPkey"
									th:value="${pkey}" />
								<div class="row">
									<div class="control-group col-md-4">

										<label>Study No </label> <input placeholder="Study No"
											type="text" th:field="*{studyNo}" class="form-control"
											required="required" />

									</div>

									<div class="control-group col-md-4">
										<label>Study Date </label><input type="date"
											required="required" th:field="*{studyDate}"
											class="form-control" style="width: 150px;" />
									</div>

								</div>
								<!-- <div class="row">
								<div class="control-group col-md-4">
									<textarea name="rejectionReason"
										th:field="*{rejectionReason}"></textarea>
								</div>
							</div> -->
							</div>
							<!-- end -->
							<div class="row">
								<p />
							</div>
							<div class="row">
								<p />
							</div>
							<div class="row">
								<!-- <div class="control-group col-md-4">

									<label>Volunteer status update</label> <select
										th:field="*{volunteerStatus}" class="form-control"
										required="required" style="width: 180px;">
										<option value="Rejected">Rejected</option>
										<option value="Eligible_for_Screening">Eligible for
											Screening</option>
									</select>

								</div> -->

								<div class="control-group col-md-4">
									<button type="submit" name="submit" class="btn btn-primary">Save</button>
								</div>
							</div>

							<!-- Data table start -->

							<div class="row">
								<div class="col-xs-12">
									<div class="box">
										<div class="box-body table-responsive"
											ddl:bundle-includes="filtering,moment,bootstrap-datepicker">
											<table id="myTableId" dt:table="true"
												class="table table-bordered table-striped"
												dt:url="@{/admin/study/search/studyList(pkey=${pkey})}"
												dt:name="pkey" dt:serverside="true" dt:dom="l0rtip"
												dt:processing="true" dt:filterplaceholder="none"
												dt:filterSelector="#filterButton"
												dt:filterClearSelector="#filterClearButton">
												<thead>
													<tr><th dt:property="studyNo" 
															dt:filterCssClass="form-control" dt:name="studyNo"
															 >Study
															No</th>
															
														<th dt:property="studyDate"
															dt:filterDateFormat="dd-mm-yyyy"
															dt:filterCssClass="form-control" dt:name="studyDate"
															dt:renderFunction="toDate" dt:sortInitDirection="desc">Study
															Date</th>

														<th dt:property="studyStatus"
															dt:filterCssClass="form-control" dt:name="studyStatus"
															>Study Status</th>

														<!-- <th dt:property="studyCompletionDate"
															dt:filterDateFormat="dd-mm-yyyy"
															dt:filterCssClass="form-control" dt:name="studyCompletionDate"
															dt:renderFunction="toDate" >Study
															Completion</th> -->
													</tr>

												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>


						</div>
					</form>


				</div>
			</div>
		</div>
	</section>
</body>
</html>