<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:dt="http://github.com/dandelion/datatables"
	xmlns:ddl="http://www.thymeleaf.org/dandelion">
<head>
<script src="http://code.jquery.com/jquery-1.11.2.js" ></script>
	<script type="text/javascript">
	/*<![CDATA[*/
	$(document).ready(function () {
		
		/* $("input[name='subjReference'").click(function(){
			$("input[name='subjReference':checked").each(function(){
			     alert($(this).val());
			});
		}); */
		
		function updateTextArea() {
            var allVals = [];
            $('input[name=subjReference]:checked').each(function () {
                allVals.push($(this).val());
            });
            $('#txtValue').val(allVals);
        }
		 $(function () {
	            $('input[name=subjReference]').click(updateTextArea);
	            updateTextArea();
	        });
			$('#remove_value').click(function()
					{
				$('#formremove').submit();
					});
	});
	
	
	/*]]>*/
	</script>
<style>
#subjReference{
float:left;  margin-right: 62%;
}
.customth {
	padding: 3px 10px;
}

.hidden-print {
	display: none;
}

@media print {
#remove_value{
display:none;
}
#subjNo{
width:100px !important;
}
 #subno{

         padding-right: 75px;
         }
#subjReference{
display:none;
}
	#masterListReference {
		border: 0px;
	}
	#savemasterlist {
		display: none;
	}
	.box, .box-body {
		overflow-x: hidden
	}
	.box {
		border-top: 0;
	}
	.hidden-print {
		display: block !important;
	}
	.borderdismissforprint {
		border-right-color: white !important;
	}
	#action {
		display: none;
	}
	#myTableId_length {
		display: none;
	}
	#myTableId_filter {
		display: none;
	}
	.dataTables_export {
		display: none;
	}
	#myTableId_info {
		display: none;
	}
	#myTableId_paginate {
		display: none;
	}
}
</style>
</head>
<body th:replace="layout :: body(section_heading='Master List')">


	<!-- <div class="control-group col-md-2  col-xs-3 col-sm-3 col-lg-3" style="margin-top: 20px;">
									 
									 <a id="selectbxbutton" class="btn btn-primary" role="button" onClick="createMasterListValues()">Master List</a>
								</div> --> 
	<section layout:fragment="content" class="content">
		<form name="masterListForm" action="#"
			th:action="@{/admin/screening/saveMasterList}" method="post">

			<!-- start -->
<input type="hidden" id="hdnCheckBoxValues" name ="pkeys" value="" />
			<div class="row">
				<div class="col-xs-12">

					<div class="box">
						<div class="box-body table-responsive"
							ddl:bundle-includes="filtering,moment,bootstrap-datepicker">
							<div class="text-center hidden-print" style="margin-top: -13px;">
								<h4 style="font-size: 22px; font-weight: 600;">Master List</h4>
							</div>
							<div class="pull-right hidden-print" id="Logo"
								style="margin-top: -12px;">
								<img src="/vms/resources/images/aziduslogo.jpg"
									style="width: 160px;" />
							</div>
							<div>
							
								<div class="col-md-2  col-xs-3 col-sm-2 col-lg-2">
									<span style="color: #3C8DBC; font-weight: bolder;">Study
										No:</span><span th:text="*{studyNo}"></span> <input type="hidden"
										name="studyNo" th:value="${studyNo}" />
										
									<!-- <input type="hidden" th:field="*{studyNo}" th:value="${studyNo}" /> -->
									<p />
								</div>
								<!-- <div class="col-md-4  col-xs-3=4 col-sm-4 col-lg-4"><span style="color:#3C8DBC;font-weight: bolder;">MasterList No:</span><input type="text" name="masterListReference" id="masterListReference" /></div> -->

							</div>

							<!-- <tr>
									<th>Study No</th>
									<th colspan="4" class="borderdismissforprint"
										style="border-right-color: white;"><div
											th:text="*{studyNo}" /></th>

									<th style="border-right-color: white;"></th>
									<th id="action"></th>

								</tr> -->

							<input type="hidden" name="count" id="count" th:value="1"/>	
							<input type="hidden" name="subjReferences" id="subjReferences" />
							<table id="myTableId" class="table table-bordered table-striped"
								dt:table="true">

								<thead>

									<tr>
										<th dt:filterCssClass="form-control "
											dt:renderFunction="custom-rendering#modifySubjNoScreening" id="subjNo" dt:sortInitDirection="asc"
											style="padding: 2px 10px;  width: 79px;" >Subject No</th>
										<th dt:filterCssClass="form-control" dt:sortInitDirection="desc"
											style=" padding: 2px;width: 375px;">Volunteer Reg.No.</th>
											<th dt:property="name" dt:filterCssClass="form-control" dt:name="name" dt:filterable="false" dt:selector="#nameFilter" >Name</th>
									<!-- 	<th dt:filterCssClass="form-control" style="padding: 2px;width: 358px;">Name</th> -->
										<th dt:filterCssClass="form-control" id="action"
											style="padding: 2px">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="volunteerTO : *{volunteers}">
										<td style="padding: 1px 10px 1px;">
										<input type="hidden" id="session" th:value="${(session.mySessionAttribute)}" />
										 <input type="hidden"
											 name="subjReference" id="subjReference" 
											th:value="*{volunteerTO.subjectNo}+'|'+*{volunteerTO.pkey}+'|'+*{volunteerTO.name}" /> 
											<input type="checkbox"
											 name="subjReference" id="subjReference" th:checked="${(session.mySessionAttribute.indexOf('*{volunteerTO.pkey}') > -1 ? true : false)}"
											th:value="*{volunteerTO.pkey}" />
											<div th:text="${volunteerTO.subjectNo}" style="float: right; " id="subno" /></td>
										<td style="padding: 1px 10px 1px;"><p
												style="float: left; margin: 0">AZ</p>
											<p style="float: left; margin: 0"
												th:text="*{volunteerTO.pkey}" /></td>
										<td style="margin-top: 2px soild black; padding: 1px 10px 1px;"><div
												th:text="*{volunteerTO.name}" /></td>

										<td id="action" style="padding: 1px 10px 1px;">
											<div class="btn-group">
												<button type="button" class="btn btn-success "
													style="padding-bottom: 1px; padding-left: 6px; padding-right: 6px; padding-top: 3px;">Action</button>
												<button type="button"
													class="btn btn-success dropdown-toggle"
													data-toggle="dropdown"
													style="padding-bottom: 10px; padding-top: 10px;">
													<span class="caret"></span> <span class="sr-only">Toggle
														Dropdown</span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a
														th:href="@{/admin/study/print/}+${volunteerTO.pkey}+@{?(subjectNo=*{volunteerTO.subjectNo},studyNo=*{studyNo})}"
														onclick="window.open(this.href,'','width=940,height=480,resizable,scrollbars,toolbar,menubar');return false;">PrintSubject
															ID Card</a></li>
												
												</ul>
											</div>
										</td>

									</tr>

								</tbody>


							</table>





						</div>
					</div>
				</div>
			</div>
			<!-- <script>
function openprintwindow(event){
			event.preventDefault();
			debugger;
			var element = $(event.currentTarget);
			var printurl = element.attr('href');
			window.open("printurl", "", "width=200, height=100");
		}
		</script> -->
			<div class="control-group col-md-2  col-xs-3 col-sm-3 col-lg-3"
				style="margin-top: 20px;">

				<!-- <a id="selectbxbutton" class="btn btn-primary" role="button" >Save Master List</a> -->
				<button type="submit" name="submit" class="btn btn-primary"
					id="savemasterlist" onClick="return createMasterList();">Save
					Master List</button>
					<!-- <input type="button" id="remove_value" class="btn btn-primary" name="remove_value" value="remove" /> -->
			</div>
			<!-- <div class="control-group col-md-2  col-xs-3 col-sm-3 col-lg-3"
				style="margin-top: 20px;">

				<a id="selectbxbutton" class="btn btn-primary" role="button" >Save Master List</a>
				<button type="button" name="submit" name="remove" class="btn btn-primary"
					id="removelist" >Remove List</button>
			</div> -->

			<a onClick="window.print()" id="printbutton"
				class="btn btn-primary pull-right">Print</a>
			<!-- end -->
		</form>
		<form th:action="@{/admin/screening/removeMasterList}" id="formremove" method="post">
		<input type="hidden" id="txtValue" name="txtValue"/>
		</form>
	</section>

</body>
</html>